$qminers_red: #fe0000;
$announcement_red: #ae0000;

$wireframe-blue: #3798ec;
$white-smoke: #f8f8f8;
$black: black;
$qminers-text: #000060;
$white: white;
$qminers-blue: #000060;
$steel-blue: #2e7cc0;
$qminers-grey: #ecedf3;

$base_font_size: 14px;
$widget_border_radius: 4px;

$table_header_rounding: 6px;

$monospace-fonts: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
